.reflection-nav {
    background-color: var(--background);
    padding: 1rem 2rem; 
    display: flex; 
    align-items: center;
    gap: 1rem;
}

.nav-icon-button {
    text-decoration: none;
}

.nav-icon {
    font: bolder 30px SF Pro Text, sans-serif;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--nav-icon);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: var( --nav-plus-icon);
    cursor: pointer;
    transition: background-color 0,2s;
}

.nav-icon:hover {
    background-color: var( --nav-icon-hover);
}

.nav-title {
    text-decoration: none;
    font: bolder 24px SF Pro Text, sans-serif;
    color: var(--text-color);
}

.nav-title:hover {
    text-decoration: underline  #f4c542;
}
.home-icon {
    font-size: 3rem;
}